@import "tailwindcss";

@theme {
  --font-sans: system-ui, sans-serif;
}


/* ==================== iOS Gestures ==================== */

@supports (-webkit-touch-callout: none) {
  html, body {
    overscroll-behavior-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }

  body {
    touch-action: pan-x pan-y !important;
  }

  * {
    -webkit-touch-callout: default;
    -webkit-user-select: auto;
    user-select: auto;
  }

  button,
  a,
  [role="button"],
  input,
  select,
  textarea,
  [onclick] {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
  }
}
